html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
}

.progress-bar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 15px;
  background-color: green;
  border-bottom: 1px solid black;
}

.favourite-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 99999;
  width: 30px;
  height: 30px;
  color: lightpink;
  cursor: pointer;
  transition: all ease 0.2s;
}
.favourite-button:hover {
  color: red;
  width: 36px;
  height: 36px;
  top: 7px;
  right: 12px;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.card .img-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

@media (min-width: 768px) {

  .carousel-item {
    width: calc(100% / 3); /* number of items is 3 */
  }

  /** IF ONLY 2 IMAGES **/
  .carousel-inner:has(.carousel-item:first-child + .carousel-item:last-child) .carousel-item {
    margin-left: calc(100% / 6) /* center 2 images */
  }

  .carousel-item.active {
    display: block;
  }

  .carousel-item:has(+ .carousel-item.active) {
    display: block;
    transform: translateX(-100%);
  }

  /* ... + .carousel-item:not(:last-child) ~ .carousel-item:last-child - to handle 2 and 3 images carousels*/
  .carousel-item.active:first-child:not(.carousel-item-start) + .carousel-item:not(:last-child) + .carousel-item:not(:last-child) ~ .carousel-item:last-child:not(.carousel-item-end) {
    display: block;
    transform: translateX(-100%);
  }

  .carousel-item.active + .carousel-item {
    display: block;
    transform: translateX(100%);
  }

  .carousel-item.active + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(200%);
  }

  .carousel-item.active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(300%);
  }

  /** **/

  /* .carousel-inner:has(.carousel-item.active:last-child:not(.carousel-item-start):not(.carousel-item-end)) .carousel-item:first-child:not(:has(+ .carousel-item:last-child)) { */
  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item + .carousel-item.active:last-child:not(.carousel-item-start):not(.carousel-item-end)) .carousel-item:first-child:not(:has(+ .carousel-item:last-child)) {
    
    display: block;
    transform: translateX(100%);
  }

  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item + .carousel-item.active:last-child:not(.carousel-item-start):not(.carousel-item-end)) .carousel-item:first-child + .carousel-item:not(.active):not(:last-child) {
    display: block;
    transform: translateX(200%);
  }

  .carousel-inner:has(.carousel-item.active:last-child) .carousel-item:first-child + .carousel-item  + .carousel-item {
    display: block;
    transform: translateX(300%);
  }

  /* .carousel-inner:has(...) - to exclude 2 images carousel*/
  /* .carousel-inner:has(.carousel-item.active:not(.carousel-item-start):not(.carousel-item-end) + .carousel-item:not(.active):last-child) .carousel-item:first-child:not(.active) { */
  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item.active:not(.carousel-item-start):not(.carousel-item-end) + .carousel-item:not(.active):last-child) .carousel-item:first-child:not(.active) {
    display: block;
    transform: translateX(200%);
  }

  /* .carousel-item:first-child + .carousel-item:not(:last-child) - to handle only 2 images carousel*/
  /* .carousel-inner:has(.carousel-item.active:nth-last-child(2)) .carousel-item:first-child + .carousel-item:not(.active):not(:last-child) { */
  .carousel-inner:has(.carousel-item.active:not(.carousel-item-start):not(.carousel-item-end) + .carousel-item:not(.active):last-child) .carousel-item:first-child + .carousel-item:not(.active):not(:last-child) {
    display: block;
    transform: translateX(300%);
  }

  /* :not(.active) - to handle only 3 images in carousel */
  .carousel-inner:has(.carousel-item.active:nth-last-child(3)) .carousel-item:first-child:not(.active) {
    display: block;
    transform: translateX(300%);
  }

  /** NEXT BUTTON **/
  .carousel-item:has(+ .carousel-item.active.carousel-item-start) {
    display: none;
  }
  .carousel-inner:has(.carousel-item.active.carousel-item-start:first-child) .carousel-item:last-child {
    display: none;
  }

  .carousel-item.active.carousel-item-start + .carousel-item {
    display: block;
    transform: translateX(0);
  }
  
  .carousel-item.active.carousel-item-start + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(100%);
  }
  
  .carousel-item.active.carousel-item-start + .carousel-item + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(200%);
  }

  
  /* .carousel-inner:has(.carousel-item.active.carousel-item-start:last-child) .carousel-item:first-child { */
  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item + .carousel-item.active.carousel-item-start:last-child) .carousel-item:first-child {
    display: block;
    transform: translateX(0);
  }

  .carousel-inner:has(.carousel-item.active.carousel-item-start:last-child) .carousel-item:first-child + .carousel-item:not(:last-child) {
    display: block;
    transform: translateX(100%);
  }

  .carousel-inner:has(.carousel-item.active.carousel-item-start:last-child) .carousel-item:first-child + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(200%);
  }

  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item.active.carousel-item-start:nth-last-child(2)) .carousel-item:first-child {
    display: block;
    transform: translateX(100%);
  }

  .carousel-inner:has(.carousel-item.active.carousel-item-start:nth-last-child(2)) .carousel-item:first-child + .carousel-item:not(:last-child) {
    display: block;
    transform: translateX(200%);
  }

  /* .carousel-inner:has(.carousel-item.active.carousel-item-start:nth-last-child(2)) .carousel-item:first-child + .carousel-item:last-child {
    display: block;
    transform: translateX(0);
  } */

  .carousel-inner:has(.carousel-item.active.carousel-item-start:nth-last-child(3):not(:first-child)) .carousel-item:first-child {
    display: block;
    transform: translateX(200%);
  }

  /** PREV BUTTON **/
  .carousel-item:has(+ .carousel-item.active.carousel-item-end) {
    display: block;
    transform: translateX(0);
  }

  .carousel-inner:has(.carousel-item.active.carousel-item-end:first-child) .carousel-item:last-child {
    display: block;
    transform: translateX(0);
  }

  .carousel-item.active.carousel-item-end {
    display: block;
    transform: translateX(100%);
  }

  .carousel-inner:has(.carousel-item.active.carousel-item-end:last-child) .carousel-item:first-child:not(.carousel-item-end) {
    display: block;
    transform: translateX(200%);
  }  

  .carousel-inner:has(.carousel-item.active.carousel-item-end:last-child) .carousel-item:first-child + .carousel-item:not(:last-child) {
    display: block;
    transform: translateX(300%);
  }  

  .carousel-inner:has(.carousel-item.active.carousel-item-end:last-child) .carousel-item:first-child + .carousel-item + .carousel-item:not(:last-child) {
    display: none;
  }  

  .carousel-inner:has(.carousel-item:not(:first-child) + .carousel-item.active.carousel-item-end:nth-last-child(2)) .carousel-item:first-child:not(:has(+ .carousel-item:last-child)) {
    display: block;
    transform: translateX(300%);
  }  

  .carousel-inner:has(.carousel-item.active.carousel-item-end:nth-last-child(2)) .carousel-item:first-child + .carousel-item:not(:last-child) {
    display: none;
  }  

  .carousel-inner:has(.carousel-item.active.carousel-item-end:nth-last-child(3)) .carousel-item:first-child {
    display: none;
  }  

  .carousel-item.active.carousel-item-end + .carousel-item {
    display: block;
    transform: translateX(200%);
  }
  
  .carousel-item.active.carousel-item-end + .carousel-item + .carousel-item {
    display: block;
    transform: translateX(300%);
  }
  
  .carousel-item.active.carousel-item-end + .carousel-item + .carousel-item + .carousel-item {
    display: none;
  }
  /** PREV BUTTON : 2 IMAGES **/  
  /* .carousel-inner:has(.carousel-item.active.carousel-item-end:first-child + .carousel-item:last-child) .carousel-item:first-child {
    display: block;
    transform: translateX(100%);
  } */

  /** Disable images rotation when there are only 2 images in carousel **/
  .carousel-inner:has(.carousel-item:first-child + .carousel-item:last-child) .carousel-item:first-child {
    display: block;
    transform: translateX(0);
  }
  .carousel-inner:has(.carousel-item:first-child + .carousel-item:last-child) .carousel-item:last-child {
    display: block;
    transform: translateX(100%);
  }

  /** Disable images rotation when there are only 3 images in carousel **/
  .carousel-inner:has(.carousel-item:first-child + .carousel-item + .carousel-item:last-child) .carousel-item:first-child {
    display: block;
    transform: translateX(0);
  }
  .carousel-inner:has(.carousel-item:first-child + .carousel-item + .carousel-item:last-child) .carousel-item:first-child + .carousel-item {
    display: block;
    transform: translateX(100%);
  }
  .carousel-inner:has(.carousel-item:first-child + .carousel-item + .carousel-item:last-child) .carousel-item:last-child {
    display: block;
    transform: translateX(200%);
  }

  /** Hide navigation buttons when the carousel has 3 or fewer items **/
  .carousel:has(.carousel-item:first-child:last-child) > button,
  .carousel:has(.carousel-item:first-child + .carousel-item:last-child) > button,
  .carousel:has(.carousel-item:first-child + .carousel-item + .carousel-item:last-child) > button {
    display: none;
  }
}
